 <div class="article">
      <div class="title">

      <h1>TheNEWS@CHURCH</h1>
      <div class="nav1">
      <bottom>

      <a href="/other/events" class="waves-effect waves-light btn-large" style=" margin-right: 20px;" >Events</a>
      </bottom>
      <bottom>
       <a href="/other/devotion" class="waves-effect waves-light btn-large" style=" margin-right: 20px;">Testimony</a></bottom>
       <bottom>
       <a href="/other/prayer" class="waves-effect waves-light btn-large" style=" margin-right: 20px;">Prayer</a></bottom>
       <bottom>

    
      </bottom>
      </div>
    </div>




<body class="HolyGrail">

	<!-- header  --> 
	<header>
			
	</header>


	<!--   main body  -->  

	<div class="HolyGrail-body">
		<main class="HolyGrail-content">
			<div class="content1">
				<h3 style="text-align:center;"> Testimonies</h3>
				<h1 style="text-align:center; color:orange; font-family:impact"> Words of Encouragement</h1>

				<div class="row">
					<div class="col s18">
						<div class="card-panel teal" style="float:right;">
							<span class="white-text"><h3> Paul Washer</h3>
								<p> A lot of people think that Christianity is you doing all the righteous things you hate and avoiding all the wicked things you love in order to go to Heaven. No, that's a lost man with religion. A Christian is a person whose heart has been changed; they have new affections.</p>
							</span>
						</div>
					</div>
					



					</div>
					<div class="row">
						<div class="col s12">
							<div class="card-panel teal" style="float:right;">
								<span class="white-text"><h3> sis. Jennifer</h3>
									<p> Testified the greatest of God.how God helped find strenght through Psalm one.she encourage God's people
										by saying if you take the Psaml one to heart you be bless. if you have God's word in you, it will change you and if you don't see any changes it's simply mean that you don't have God'word in you.</p>
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<div class="card-panel teal" style="float:right;">
										<span class="white-text"><h3>Sis. Sasha</h3>
											<p> The Christian said I was born in iniquity and in sin my mother conceive me.I have broken every law of God.and I deserve the fullness of his just warft aginst me. BUt I'M TRUSTING IN JESUS CHRIST MY LORD. </p>
										</span>
									</div>
								</div>
							</div>

							<!-- Content 2  words of avdives quoted from others-->
							<div class="content2">
								<h1 style="text-align:center; color:orange; font-family:impact"> Words of Encouragement</h1>

								<div class="row">
									<div class="col s8">
										<div class="card-panel teal" style="float:right;">
											<span class="white-text"><h3> Paul Washer</h3>
												<p> Testified the greatest of God.how God helped find strenght through Psalm one.she encourage God's people
													by saying if you take the Psaml one to heart you be bless. if you have God's word in you, it will change you and if you don't see any changes it's simply mean that you don't have God'word in you.</p>
												</span>
											</div>
										</div>
										<div class="row">
											<div class="col s8">
												<div class="card-panel teal" style="float:right;">
													<span class="white-text"><h3> Paul Washer</h3>
														<p> Testified the greatest of God.how God helped find strenght through Psalm one.she encourage God's people
															by saying if you take the Psaml one to heart you be bless. if you have God's word in you, it will change you and if you don't see any changes it's simply mean that you don't have God'word in you.</p>
														</span>
													</div>
												</div>



											</div>
											<div class="col">
												<div class="col s8">
													<div class="card-panel teal" style="float:right;">
														<span class="white-text"><h3> Paul Washer</h3>
															<p> Testified the greatest of God.how God helped find strenght through Psalm one.she encourage God's people
																by saying if you take the Psaml one to heart you be bless. if you have God's word in you, it will change you and if you don't see any changes it's simply mean that you don't have God'word in you.</p>
															</span>
														</div>
													</div>
													
		</main>



<!--     navigation side bar
-->  


<!--     side bar for ads
-->   

<aside class="HolyGrail-ads" style="margin-top:12em;background-color:black;opacity:0.5; color:white; padding-left:10px;">
<p>live right and do right in the lord eyes</p>
	<p>
		Bless the Lord oh My soul, and everything that is in me bless His holy name.
	</p>
	<p>
	The one that has a real faith is regenarate and indwelled by the Holy Spirit Of God.
	</p>
	<p>
		The Lord is my rest, my strenght , and my helper.
	</p>
	<p>
		living for Christ should be a our purpose.
	</p>
	<p>
		A justified person is a changed person.
	</p>
	<p>
	Living right is doing the will of God
	</p>
	<p>
		God will is the way to heaven.
	<p>
		A christian must die daily.
	</p>
	<p>
		Doing what please God, should be your duty.
	</p>
	<p>
		Devoted to Jesus Christ.committed to faith,and Centered on God.
	</p>
	</aside>
	<p>
	
	</p>

</div>


<!--    footer and contact info.
-->


<footer>


	<div class="row">

		<div class="col">
			<div class="col s8">
				<div class="card-panel teal">
					<%= image_tag("jesussaves.jpg", :width => 200, :height => 150,)  %>
					<span class="white-text"><h3> Sis. Jennifer</h3>
						<p> Testified the greatest of God.how God helped find strenght through Psalm one.she encourage God's people
							by saying if you take the Psaml one to heart you be bless. if you have God's word in you, it will change you and if you don't see any changes it's simply mean that you don't have God'word in you.</p>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="downfoot">
		 <%= link_to 'Home Page', news_index_path %>
		<p> address:Harding street FL.</p>
		<p>Email:Philtheword@gmail.com</p>
		
		 </div>
	</footer>
</body>





