



<div class="row" >
<h3 style="text-align:center;"> Testimon</h3>
	<div class="col s3">
      <div class="card-panel teal" style="float:right;">
        <span class="white-text"><h3>Sis. Jennifer </h3>
        <p> Testified the greatest of God.how God helped find strenght through Psalm one.she encourage God's people
         by saying if you take the Psaml one to heart you be bless. if you have God's word in you, it will change you and if you don't see any changes it's simply mean that you don't have God'word in you.</p>
          </span>
          </div>
        </div>
        </div>
       
