 <div class="article">
      <div class="title">

      <h1>TheNEWS@CHURCH</h1>
      <div class="nav1">
      <bottom>

      <a href="/other/events" class="waves-effect waves-light btn-large" style=" margin-right: 20px;" >Events</a>
      </bottom>
      <bottom>
       <a href="/other/devotion" class="waves-effect waves-light btn-large" style=" margin-right: 20px;">Testimony</a></bottom>
       <bottom>
       <a href="/other/prayer" class="waves-effect waves-light btn-large" style=" margin-right: 20px;">Prayer</a></bottom>
       <bottom>

    
      </bottom>
      </div>
    </div>


<header><h1>Events</h1></header>



<main>

<container>
<div class="wrp2">

  <div class="row">
  <div class="col s8 ">
   
      <h3> Thanksgiving</h3>
      <div class="card-panel teal">
        <span class="white-text">The day we don't have mercy on turkey, Lord have mercy.<br>
          <p>Please come on time.there will be a lot of food.<br>
            We will start at 11 am.
            if you are cooking for the church, you should be at the the church no later than 12:15 pm. if you need something please contact so and so for more information. we will try to end everything by 5:30 so we can have enough time to clean before service.</p>
          </span>
        </div>
        <%= image_tag("thanks1.jpg", :width => 400, :height => 200,)  %>  <h3>Fellowship</h3>
      
   
      <div class="card-panel teal">
        <span class="white-text">On the 26 of November we will  have a fellowship at the church, I not sure How many other churchs that will be there. Be ready to serve and be bless. please reserve the day. because we will need all the help we can get thank you.
        </span>
      </div>
      <h3>Jacksonville </h3>
      <div class="card-panel teal">
        <span class="white-text">On the first week of December we will  have a fellowship at Jacksonville, 
        </span>
      </div>
    
    </div>
    
    </div>


    </div>

  </div>


  
</div>
</container>
</main>




<footer style="text-align:center">
  <p> an event is a time for us to come together.</p>

    <div class="downfoot">
     <%= link_to 'Home Page', news_index_path %>
    <p> address:Harding street FL.</p>
    <p>Email:Philtheword@gmail.com</p>
    

</footer>