<div class="HolyGrail">
	<header><h1 style="font-family:black;">This Message will be add on Nov-30-2016.</h1></header>



	<main>


		<div class="container">
		<h1>Thank you  and God bless.</h1>
			
			</div>
		</div>
	</main> 


		<div id="slides">
			
		</div>




		<footer style="margin-top:5em;">

			<div class="footer-copyright">
				<div class="container">
					
					
				</div>
			</div>



		</footer>

		  <div class="downfoot">
     <%= link_to 'Home Page', news_index_path %>
    <p> address:Harding street FL.</p>
    <p style="padding-bottom:15px;">Email:Philtheword@gmail.com</p>
    </div>
</div>