

<div class="HolyGrail">
	<header><h1 style="font-family:black;">Have a talk with the Lord.</h1></header>



	<main>


		<div class="container">
			<div class="prayer">
<h3>A Desperate Prayer</h3>
<p style="font-size:18px;;">
Woke up this morning too depressed and shamed to leave my bed
Can't stand to see my own reflection so I hang my head
feel like a disappointment like the scum of the earth<br>
I'm so hurt I know you see I can't cover my dirt
my souls dying hearts weak and I cant even cry
I'm sposed to run to you but WHY I'm such an evil guy<br>
The sun's shining but for me it's the darkest of days<br>
Try to pretend it never happened but the guilt remains
I leave the house it feels like everybody knows I did it<br>
Feel like they reading my mind and know the sin I committed
Through your blood I'm acquitted but my heart doesn't get it<br>
Oh God I'm desperate for Help cause I'm grieving your Spirit
I couldn't sing in the sunday service,
 Lord I felt fake and when they started communion I just made an escape
I'm in need of your grace/ feels like you hid your face
Lord Lead me back to cross and show me my sins erased.
</p>
<p> I'm desperate, i can't believe i've sinned against you, create in mean a clean heart I am so sorry , your mercy is what I need.
</p>
</div
	</main> 


		<div id="slides" style="margin-bottom:3em;">
		<h5 style="color:orange;">A prayer is seeking to know God more.</h5>
			<%= image_tag("prayer1.jpg", :width => 820, :height => 450,)  %>
			</div>
			<div id="slides" style="margin-bottom:3em;">
			<h5 >Prayer Change</h5>
			<%= image_tag("prayer3.jpg", :width => 820, :height => 450,)  %>
		</div>




		<footer style="margin-top:5em;">

		
		<div class="downfoot">
		 <%= link_to 'Home Page', news_index_path %>
		<p> address:Harding street FL.</p>
		<p>Email:Philtheword@gmail.com</p>
		

			<div class="footer-copyright">
				<div class="container">
					<small> live well with God, ONE prayer at a time.</small
					
				</div>
			</div>

		</footer>
</div>