<div class="prayer">
<h3>A Desperate Prayer</h3>
<p>Woke up this morning too depressed and shamed to leave my bed
Can't stand to see my own reflection so I hang my head</p>
<p>
feel like a disappointment like the scum of the earth
I'm so hurt I know you see I can't cover my dirt
my souls dying hearts weak and I cant even cry</p><br>
<p>
I'm sposed to run to you but WHY I'm such an evil guy
The sun's shining but for me it's the darkest of days
Try to pretend it never happened but the guilt remains</p><br><p>
I leave the house it feels like everybody knows I did it
Feel like they reading my mind and know the sin I committed</p>
<p>
Through your blood I'm acquitted but my heart doesn't get it
Oh God I'm desperate for Help cause I'm grieving your Spirit
I couldn't sing in the sunday service,
 Lord I felt fake</p>
 <p>
and when they started communion I just made an escape
I'm in need of your grace/ feels like you hid your face
Lord Lead me back to cross and show me my sins erased.
</p>
<p> I'm desperate, i can't believe i've sinned against you, create in mean a clean heart I am so sorry , your mercy is what I need.
</p>
</div