
    
        
    <h1>TheNEWS@CHURCH</h1>
  </div>
  <!--  the subtitle -->
  <div class="subtitle">
    <td>SATURDAY MESSAGE</td>
  </div>
  <div class="row">
      <div class="col s7 "><span class="flow-text"><div class="container">
       
       <span class="date" style="font-size:12px;"> November 12, 2016</span>

       <h3 style="font-family:impact;color:orange;">You Need To Know Where You Are In The Lord.</h3>.</span>

       <p>We are in a battle field , to prepare ourselves for the Lord. it’s always a good thing to be in the house of the lord every time the doors open. We know that Jesus is at the door  meaning He’s in his way to come again to get his bride. 


</p>

       <p>
       We Have Hope of eternal life.
We need to know where we are in the Lord. you have know where you stand in the Lord because no one else can know it for you but you. <br>Pastor JeanJacque <br> went on and sing “fe m santi dous prezan ou senye”  Let me feel your sweet spirit Lord. and bless God’s people. 


He continued with the message, it’s good to be in the present of the Lord. God is here with us, He doesn’t forget us . He shared <strong> 2 Timothy 3: 1-6 </strong>the important thing here is the perilous time. Now the end is closer than ever; some people are waiting for things to get better but what they don’t know is that the time is only getting worse.<br> As christian, you need to do much more effort to walk right before God. 



You need to know where you are in the Lord?
You can’t let anything  hinder in this world because when you gone you won’t be able to go with anything . <strong> in verse 3 </strong> 
Some people are just like that and <strong> in verse 4 </strong>we should not be like these people. They only want to please themselves rather than pleasing God . 



Ask Yourself .<strong>”Do I love God?”</strong>
If your is yes, then your job is to keep His commandment at all time. God have two word , “Yes” or  “No” . we living in a time where men looking for more of natural things instead of seeking for the Lord. 
As christian there’s a lot of effort you need to do, to reach the place of Jesus. Psalms one shows us how to be. “Bless is the man that walk not in the counsel of the ungodly” according to this chapter there some people we shouldn’t be friend with . in the book of john is say to love no the world. 
When you  in the world you should be a light for those that’s around you. People around should be aware of you and that you are like them and the should feel uncomfortable of saying or doing certain things around you.  In the 2 Timothy 3:5 we need to flee from people like that.our job is to walk right before the Lord. . 



 </p> 


        <p>Knowing the message is one thing but knowing the principle is another. Psalm one should be in your life, to find pleasure in the law of Lord. if you not serving God right then you have a sad life. You need to be changing constantly / daily if you are not changing you can forget about Heaven.  You need to keep your faith.<br>


Are you ready?<br>
Are you under the Law Of God?<br>
 You need someone to give you trouble, to see where you are in the Lord. Matthew 24:13, we need to stay here; there will be a time where we all will have to  live in the church, it will be our home. We need to endure unto the end , we must be careful and always put what’s right in practice. 
 And we should not look back . <strong>verse 18”Neither let him which in the field return back to take his clothes.”
What does verse 19 mean?
“And woe unto them that are with child, and to them that give suck in those days!”
It’s people that hold other people in their heart.</strong>

If you have something against someone you need to call that person a apologies even if you were not at fault . and if you asked why you doing this , your response should be I want to be save. You know you can’t be save if have on your heart. Ask forgiveness even when your were not the cause of the problem.<br> 


<strong>God Bless</strong> 

        </p>
  </div>
     
    </div>
          
  <!--  the message  -->

  
  <div class="side-bar">

<div class="row">
   <div class="col s3">
 <div class="row">
    <div class="card">
      <div class="card-image">
        <%= image_tag("prayer1.jpg", :width => 100, :height => 450,)  %>
        <span class="card-title" style="font-family:impact; font-size:40px; color:#802A2A;">Prayer Change</span>
      </div>
      <div class="card-content">
        <p>It doesn't matter what yo going throught just know God can always answer your prayer..</p>
      </div>
      <div class="card-action">
        <a href="prayer">A Prayer</a>
      </div>
    </div>
    </div>
    

   <!--  saturday service side bar -->
  

  </div>
</div>




</div>
</div>
</div>



</div>