<div class="HolyGrail">
	<header><h1 style="font-family:black;">Have a talk with the Lord.</h1></header>



	<main>


		<div class="container">
			<div class="talk">
				<h3>Talking to the Lord</h3>
				<p style="font-size:20px;"> Is the best thing, you can do in your life. it is a Christian to talk to the Lord daily.some that actualy called themselevs christian that bearaly talk to the Lord, is not ytruth,t a christian.  </p>
				<h5>How long should it take to have a talk with God </h5>
				<p style="font-size:20px;"> Well the answer is simple.not long. Talking is like talking to any one else it's up to you. how long do you want the conversation last. now let me refrence something when you talking to God you don'have to be afraid of opening up, he will not put your business in the street. youi have nothing to be ashame of. If you need a change is the right person to go to. you will a always fastisfy with God responce to you., He is the only that truly knows what is best for you. <br>
				I encourage to Have a talk to God more often.  Just as it says in the book of 1 Thessalonians 5:16-18
				rejoice alawys, pray without ceasing, give thanks in all circumstance; for this the will of God in Christ Jesus for you.God wants you to talk to talk to him. so why would you not to so. Psalm 145:18 says that "The Loord is near to all them that call on him, to all that call on him in the truth."  Your job as christian is always talking to God, He is the source of you strengt. 1 Chronicles 16:11 "Seek the Lord and his strenght, seek his face continually. you may still saying I don't how to talking or I am to ashame to go to Him well I hope this may hel you. <br> <strong>David's Prayer</strong><br> "Hear me when I call , O God of righteousness: you have enlarge me when I aws in distress; have mercy on me and hear my preayer."<br>

					A prayer is a simple conversation being you and the Holy One.   </p>
			</div>
		</div>
	</main> 


		<div id="slides">
			<%= image_tag("prayer1.jpg", :width => 820, :height => 450,)  %>
			<%= image_tag("prayer2.jpg", :width => 750, :height => 450,)  %>
			<%= image_tag("prayer3.jpg", :width => 820, :height => 450,)  %>
		</div>




		<footer style="margin-top:5em;">

			<div class="footer-copyright">
				<div class="container">
					
					
				</div>
			</div>



		</footer>

		  <div class="downfoot">
     <%= link_to 'Home Page', news_index_path %>
    <p> address:Harding street FL.</p>
    <p style="padding-bottom:15px;">Email:Philtheword@gmail.com</p>
    </div>
</div>