
    

<div id="fullpage">

  <div class="sectionhome">
    <!-- Dropdown Structure -->
 











    
    <!--  the subtitle -->
    <div class="subtitle">
     <div class="article">
      <div class="title">

      <h1>TheNEWS@CHURCH</h1>
      <div class="nav1">
      <bottom>

      <a href="/other/events" class="waves-effect waves-light btn-large" style=" margin-right: 20px;" >Events</a>
      </bottom>
      <bottom>
       <a href="/other/devotion" class="waves-effect waves-light btn-large" style=" margin-right: 20px;">Testimony</a></bottom>
       <bottom>
       <a href="/other/prayer" class="waves-effect waves-light btn-large" style=" margin-right: 20px;">Prayer</a></bottom>
       <bottom>

    
      </bottom>
      </div>
    </div>

      <h3>SUNDAY MESSAGE</h3>
     
    </div>

     <div class="divider"></div>
    <div class="row">
      <div class="col s7 "><span class="flow-text"><div class="container">

       <span class="date" style="font-size:12px;"> October 30, 2016</span>

       <h3 style="font-family:impact;color:orange;">Don't Give Away What You Have.</h3>.</span>

       <p>Know What God is to you.Kow What He's done for you.</p>

       <p>Now as Christian are job is to not be like the people in 2Timothy 3:7.<br>
        "Ever learning, and never coming to the full knowledge of christ."<br>
        Only Qaulified people, who come into the full knowledge of Christ,<br>
        will have a chance to make it.People in the natural government <br>
        would not able to be there if they did not experience.<br>
        Now as Christian it is time to learn all that we need to become a part of the bride of Christ. </p> 


        <p>The message continue:<br>
          God took us from four point of the earth as it mention in the book of Luke 13:29 .<br>
          He went on, to show we can find the Lord, through faith. In Matthew 8:6-7.<br> The servant went to find Jesus Christ by faith and humble before Him.<br> Brother Noel<br>
          Went on back to the same topic. of 2 Timothy 3 <br> 
          <strong><h5>Things we should not</h5></strong><br>


          "For men shall be lovers of their own selves".
          covetous, boasters, proud, blasphemers,
          disobedient to parents, unthankful, unholy,
          Without natural affection, trucebreakers, false accusers
          incontinent, fierce, despisers of those that are good,
          Traitors, heady, highminded, lovers of pleasures more than lovers of God;



          Having a form of godliness, but denying the power thereof: from such turn away
          For of this sort are they which creep into houses,
          and lead captive silly women laden with sins, led away with divers lusts,
          the faith  of the religion world is set on natural things; houses, money, cars
          but as Christain is set on above. that is why we should strive daily 
          and always ask God to help us on the way.
          Ask for His strenght, strenght for your mind, spirit 
          and so you won't do your own will but God's.<strong>God Bless</strong> 

        </p>
      </div>
 <%= link_to ' Create New Post', new_post_path %><br>
     <%= link_to 'New post', posts_path %>
    </div>
    

    <!--  the message  -->


    <div class="side-bar">

      <div class="row">
       <div class="col s3">
         <div class="row">
          <div class="card">
            <div class="card-image">
           <!--  the link to saturday service -->
             <a href="/other/saturday"> <%= image_tag("prayer1.jpg", :width => 100, :height => 450,)  %>
              <span class="card-title" style="font-family:impact; font-size:40px; color:#802A2A;">Saturday Service</span>
            </div>
            <div class="card-content">
              <p style="color:black">In here you will find the message of the last two saturday services..</p>
            </div>

            <div class="card-action">
             <h5 style="color:orange;"> Where Are You In The Lord?</h5>
           </div>
         </div>
       </div>

       <div class="card">
        <div class="card-image">
        <a href="/other/talk"> 
          <%= image_tag("prayer2.jpg", :width => 100, :height => 450,)  %>
          <span class="card-title" style="font-family:bold; font-size:45px; color:black;">Talk With GOD</span>
        </div>
        <div class="card-content">
          <p>It doesn't matter what you going throught just know God can always answer your prayer..</p>
        </div>
        <div class="card-action">
          <a href="#">A Prayer</a>
        </div>
      </div>
    </div>
  </di>
  <div class="section2">
    
  </div>

  <div class="section3">
    
  </div>



  <!--  saturday service side bar -->


</div>
