<h1>Your words </h1>

<%= render 'form', post: @post %>
<div class="back1">
<%= link_to 'Back', posts_path %>
</div>

 <div class="downfoot">
     <%= link_to 'Home Page', news_index_path %>
    <p> address:Harding street FL.</p><br>
    <p>Email:Philtheword@gmail.com</p>
    </div>
    
