<!DOCTYPE html>
<html>
  <head>
    <title>Thenews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
          
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!-- <script type="http://code.jquery.com/jquery-latest.min.js"></script>
            <script type="jquery.slides.min.js"></script> -->

  </head>
  <body>
  <div class="article">
      <div class="title">

      <h1>TheNEWS@CHURCH</h1>
      <div class="nav1">
      <bottom>

      <a href="/other/events" class="waves-effect waves-light btn-large" style=" margin-right: 20px;" >Events</a>
      </bottom>
      <bottom>
       <a href="/other/devotion" class="waves-effect waves-light btn-large" style=" margin-right: 20px;">Testimony</a></bottom>
       <bottom>
       <a href="/other/prayer" class="waves-effect waves-light btn-large" style=" margin-right: 20px;">Prayer</a></bottom>
       <bottom>

    
      </bottom>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
